{% extends "base.html" %}

{% block title %}
Add Clients
{% endblock %}


{% block content %}

<form method="post">

    {{ form.hidden_tag() }}

    <div class="center-conti">
        <h4>Add client to your business</h4><br>

        <div class="form">
            {{ form.client_name(id="inputStyle", autocomplete="off") }}
            <label for="name" class="label-name">
                <span class="content-name">Client Name</span>
            </label>
        </div>
        <br>
        <div class="form">
            {{ form.client_email(id="inputStyle", autocomplete="off") }}
            <label for="mail" class="label-name">
                <span class="content-name">Client E-mail</span>
            </label>
        </div>
        <br>
        <div class="form">
            {{ form.client_phone(id="inputStyle", autocomplete="off") }}
            <label for="pno" class="label-name">
                <span class="content-name">Client Phone</span>
            </label>
        </div>
        <br><br>
        {{ form.add_client(class="btn btn-outline-primary") }}
    </div>
</form>
{% endblock %}