{% extends "base.html" %}

{% block title %}
Payment Request
{% endblock %}

{% block content %}

<form method="post">
    <div class="center-conti">
        <h4>Payment Request</h4>

        <label for="clientList">Select Client</label>
        <select class="custom-select tc" name="clientList">
            {% for client in clients %}
            <option>{{client.clientEmail}}</option>
            {% endfor %}
        </select><br>

        <label for="paymentAmt">Amount</label>
        <input class="form-control" type="number" placeholder="Rs. 0" min="0" max="999999999" name="paymentAmt"
            required><br>

        <label for="remarks">Remarks</label>
        <input class="form-control" type="text" placeholder="enter remarks" name="remarks" autocomplete="off"><br><br>

        <button type="submit" class="btn btn-outline-primary">Request Payment via E-mail</button>
    </div>
</form>

{% endblock %}