{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<form method="post">
    {{ form.hidden_tag() }}
    <div class="center-conti">
        <h4>Payment Request</h4>

        {{ form.emails.label }}
        {{ form.emails(class="custom-select tc") }}<br>

        {{ form.amount.label }}
        {{ form.amount(class="form-control", placeholder="Rs. 0") }} <br>

        {{ form.remarks.label }}
        {{ form.remarks(class="form-control", placeholder="enter remarks", autocomplete="off") }} <br><br>

        {{ form.sent(class="btn btn-outline-primary") }}

    </div>
</form>

{% endblock %}