<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <link href="styles.css" rel="stylesheet" id="bootstrap-css"> -->
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" id="bootstrap-css">
    <!------ Include the above in your HEAD tag ---------->
    <title>Register</title>
</head>

<body>

    <div class="sidenav">
        <div class="login-main-text">
            <h1>Digital Ledger</h1>
            <h2>Register Page</h2>
            <p>Login or register from here to access.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="register-form">
                <form method="POST">

                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="business_name">{{ form.business_name.label() }}</label>
                        <!-- <input type="text" class="form-control" placeholder="Business Name" id="business_name"> -->
                        {{ form.business_name(class="form-control", placeholder="Business Name", id="business_name", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        <label for="owner_name">{{ form.owner_name.label() }}</label>
                        <!-- <input type="text" class="form-control" placeholder="Owner Name" id="owner_name"> -->
                        {{ form.owner_name(class="form-control", placeholder="Owner Name", id="owner_name", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        <label for="owner_mail">{{ form.owner_email.label() }}</label>
                        <!-- <input type="email" class="form-control" placeholder="Owner Email" id="owner_mail"> -->
                        {{ form.owner_email(class="form-control", placeholder="Owner Email", id="owner_mail", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        <label for="owner_phone">{{ form.owner_phone.label() }}</label>
                        <!-- <input type="tel" class="form-control" placeholder="Phone no" id="owner_phone" maxlength="10"> -->
                        {{ form.owner_phone(class="form-control", placeholder="Phone no", id="owner_phone", maxlength="10", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        <label for="uPassword">{{ form.password.label() }}</label>
                        <!-- <input type="password" class="form-control" placeholder="Password" id="uPassword"> -->
                        {{ form.password(class="form-control", placeholder="Password", id="uPassword") }}
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">{{ form.confirm_password.label() }}</label>
                        <!-- <input type="password" class="form-control" placeholder="Confirm password" id="confirm_password"> -->
                        {{ form.confirm_password(class="form-control", placeholder="Confirm password", id="confirm_password") }}
                    </div>
                    <!-- <button type="submit" class="btn btn-black">Register</button> -->
                    {{ form.register(class="btn btn-black") }}
                    <a href="{{ url_for('login_page') }}">
                        <button type="button" class="btn btn-secondary">Login</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</html>