{% extends "base.html" %}

{% block title %}
    View Clients
{% endblock %}

{% block content %}

<div class="tab">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Client name</th>
                <th scope="col">Client Mobile</th>
                <th scope="col">Client Email</th>
                <th scope="col">No. of Transactions</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{client.clientName}}</td>
                <td>{{client.clientMobile}}</td>
                <td>{{client.clientEmail}}</td>
                <td>0</td>
                <td>
                    <button type="button" class="btn btn-outline-info">View Transactions</button>
                    <button type="button" class="btn btn-danger">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}