{% extends "base.html" %}

{% block title %}
    View Clients
{% endblock %}

{% block content %}

<div class="tab">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Client name</th>
                <th scope="col">Client Mobile</th>
                <th scope="col">Client Email</th>
                <th scope="col">No. of Transactions</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{client.clientName}}</td>
                <td>+91-{{client.clientMobile}}</td>
                <td>{{client.clientEmail}}</td>
                <td>{{client.clientTransactions|length}}</td>
                <td>
                    <a href="{{ url_for('view_transactions', cPos=loop.index) }}"><button type="button" class="btn btn-outline-info">View Transactions</button></a>
                    <a href="{{ url_for('remove_clients', clientMail=client.clientEmail)}}"><button type="button" class="btn btn-danger">Remove</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}